<div class="d-flex justify-content-center">
    <div class="w-75">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card" *ngFor="let membership of memberships">
                <img src="assets/fitness.jpg" class="card-img-top" alt="Абонемент">
                <div class="card-body">
                    <h5 class="card-title">{{membership.name}}</h5>
                    <p class="card-text">{{membership.description}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span class="d-flex gap-1"><ion-icon name="time-outline"></ion-icon><small class="text-muted">{{membership.duration}} дней</small></span>
                    <small class="text-muted">{{membership.price | number:'':'es'}}₽</small>
                </div>
            </div>
        </div>
    </div>
</div>