<div class="d-flex justify-content-center">
    <div class="user-content">
        <p>Наконец-то я могу опубликовать статью, написание которой оттягивал, кажется, целую пятилетку. Ну, знаете, "можешь не писать - не пиши", да и повода особого не было... Но теперь повод появился - да ещё какой! - в свете которого не схватить перо было бы сущим престулением.</p>
        <p>Без лишних предисловий - спустя шесть лет после предыдущего, найдено 52-ое известное простое число Мерсенна!</p>
        <p>Для не следящих плотно за приближающими глобальное потепление ради собственного развлечения негодяями, также известными как "комьюнити GIMPS" (Great Internet Mersenne Prime Search), напомню, числа Мерсенна - это двойки, возведённые в степень, минус единица.</p>
        <p>Было доказано, что такие числа иногда, весьма редко, бывают простые - и в этом случае экспонента (та самая степень двойки) непременно тоже представляет собой простое число. До середины прошлого века поиск таких чисел был довольно вялым, но с появлением ЭВМ, понятное дело, рванул вперёд - в первую очередь, конечно же, благодаря наличию алгоритма поиска с полиномиальной сложностью.</p>
        <p>С тех пор простые числа Мерсенна (ПЧМ) удерживают практически весь пьедестал почёта самых больших известных простых чисел.</p>
        <p>Чтобы вы понимали, о каких размерах идёт речь. Современная криптография оперирует простыми или псевдопростыми числами длиной в сотни и тысячи бит, текущий же фронт работ по поиску простых чисел Мерсенна располагается в окрестностях вот такого:</p>
    </div>
</div>